%p= simple_format t("steering_committee.text1")
.double-bar{:style => "margin: 20px 0 20px 0 !important;text-align: center;"}
%p= simple_format t("steering_committee.text2")
= image_tag "committee.png", :width => "100%"